#these filese are produced and are ignored in GIT

# windows binaries
*.exe
*.o

# devc++ aux files
*.win

# codeblocks aux files
*.depend
# also used by devc++
*.layout

# linux binary
simple

*.log.txt

.idea/*
