#these filese are produced and are ignored in GIT

# windows binaries
*.exe
*.o

# devc++ aux files
*.win

# codeblocks aux files
*.depend
# also used by devc++
*.layout

# linux binary
simple

*.log.txt

# idea IDE
.idea/*

#anjuta IDE
.anjuta/*
.anjuta*
*.anjuta
*~

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

# NetBeans IDE (supports CMake)
nbproject/

# ignore Makefile changes by build systems such as CMake or GNU AutoTools
Makefile
